/* overrides default */

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.6;
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 50% !important;
  color: black !important;
  @media (max-width: 992px) {
    display: none !important;
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

/* custom elements */

.swiper.swiper-container-products {
  @media (min-width: 992px) {
    padding: 0 4rem;
  }
}

.swiper-container-hero {
  max-height: clamp(90rem, 60vh, 160rem);
}
